.App { 
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 1.4em;
  color: white;
  height: 100vh;
}
body {
  background: url(/public/images/check_engine.jpg);
  background-size: cover;
  background-repeat: repeat;
}
h1 {
  font-family: 'Bebas Neue', cursive;
}
h2 {
  font-family: 'Bebas Neue', cursive;
}