.App { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 1.4em;
  color: white;
  height: 100vh;
  max-width: 80vw;
  height: 100vh;
  margin: auto;
}
body {
  background: url(/public/images/check_engine.jpg);
  background-size: cover;
  background-repeat: repeat;
}
.Tech{
  position: fixed;
  top: 0;
  left: 0;
}
h1 {
  font-family: 'Bebas Neue', cursive;
  width: 50vw;
}
h3 {
  font-family: 'Bebas Neue', cursive;
}

.model { 
  margin-right:9px;
}

.year {
  margin-left: 10px;
}