.App {
  
  background-size: cover;
  background-repeat: repeat;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 1.2em;
  color: white;
  height: 100vh;
}
body {
  background: url(/public/images/check_engine.jpg) no-repeat center fixed;
  
}
h2 {
  font-family: 'Bebas Neue', cursive;
}
h1 {
  font-family: 'Bebas Neue', cursive;
}

